/* bien identifier:
-all.css: css page index + import 
-base.css: css menus*/

@import "base.css";

@font-face {
    font-family: 'qikki_regregular';
    src: url('font/Qarmic_sans_Abridged-webfont.eot');
    src: url('font/Qarmic_sans_Abridged-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Qarmic_sans_Abridged-webfont.woff2') format('woff2'),
         url('font/Qarmic_sans_Abridged-webfont.woff') format('woff'),
         url('font/Qarmic_sans_Abridged-webfont.ttf') format('truetype'),
         url('fontQarmic_sans_Abridged-webfont.svg#qikki_regregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1 {
    text-align: center;
    border: none;
    padding: 30px 30px 30px 30px;
    color: orange;
    background-color: mediumseagreen;
    margin-right: 500px;
    margin-left: 500px;
    font-family: "qikki_regregular";
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-family: "qikki_regregular";
    font-size: 2em;
    
}

#index {
    display: flex;
    justify-content: center;

}

#index .column {
    display: flex;
    flex-direction: column;

}

figure {
    box-shadow: 3px 3px 6px darkgrey;
    margin: 30px;


}

img {
    display: block;
}

#button {
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 8px;
    background: mediumseagreen;
    font: bold 13px Arial;
    color: orange;
    margin: 75px;
    margin-right: 500px;
    margin-left: 500px;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: mediumseagreen;



}

#conteneur {
    display: flex;
    text-align: center;
    background-color: mediumseagreen;
    margin-right: 500px;
    margin-left: 500px;

}

#conteneur #mentions {
    width: 50%;
}

#conteneur #contact {
    width: 50%;
}

#mentions #contact
{
    color: orange;
}
