/* les styles "de base", notamment pour le texte 
(paragraphes, titres, listes, citations, liens, couleurs, etc.) */

h1
{
    text-align: center;
}

#conteneur
{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: mediumseagreen;
}

#conteneur #mentions
{
    width: 50%;
}

#conteneur #contact
{
    width: 50%;
}

li {
    list-style-type: none;
}

.container_list {
    display: flex;
    width: 50%;
    text-align: left;
}

.container_list .menu {

    width: 1500%;
}

.container_list .price {
    width: 20%;
}



