/* CSS 4 menus */




#notes {
    box-shadow: none;
}

h3
{
    text-align: center;
}

li {
    list-style-type: none;
}

.container_list {
    display: flex;
    width: 50%;
    text-align: left;
}

.container_list .menu {

    width: 1500%;
}

.container_list .price {
    width: 20%;
}



