/* bien identifier:
-all.css: css page index + import 
-base.css: css menus*/

@import "style/base.css";

@font-face {
    font-family: 'qikki_regregular';
    src: url('font/Qarmic_sans_Abridged-webfont.eot');
    src: url('font/Qarmic_sans_Abridged-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Qarmic_sans_Abridged-webfont.woff2') format('woff2'),
         url('font/Qarmic_sans_Abridged-webfont.woff') format('woff'),
         url('font/Qarmic_sans_Abridged-webfont.ttf') format('truetype'),
         url('fontQarmic_sans_Abridged-webfont.svg#qikki_regregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    margin: 0;

}

h1{
    margin-top: 0;
    background-color: mediumseagreen; 
    width:100%;   
     color:white;
    padding:1em 0;
    text-align:center;
    overflow:hidden;
    font-size:26px;
    font-family:"qikki_regregular";
  }



h2 {
    
    text-align: center;
    font-family: "qikki_regregular";
    font-size: 2em;
    
}

#index {
    display: flex;
    justify-content: center;

}

#index .column {
    display: flex;
    flex-direction: column;

}

figure {
    box-shadow: 3px 3px 6px darkgrey;
    margin: 30px;
}

img {
    display: block;
}

#button {
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 8px;
    background: mediumseagreen;
    font-family: "qikki_regregular";
    color: white;
    margin: 75px;
    margin-right: 750px;
    margin-left: 750px;

}

footer {
    position: fixed;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: mediumseagreen;



}

#conteneur {
    display: flex;
    text-align: center;
    background-color: mediumseagreen;
    margin-right: 500px;
    margin-left: 500px;

}

#conteneur #mentions {
    width: 50%;
}

#conteneur #contact {
    width: 50%;
}

