/* CSS 4 menus + ML */


#container_delice {
    margin: 20px;
    padding: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    background-color: #edefef;
    font-size: 16px;
}

#container_chic {
    margin: 20px;
    padding: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff5fe;
    font-size: 16px;

}

#container_palette {
    margin: 20px;
    padding: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfffd;
    font-size: 16px;
}

#container_note {
    margin: 20px;
    padding: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    background-color: #fcdfdb;
    font-size: 16px;
}

p {
    text-align: center;
    color: black;
}


main p {
    text-align: left;
    margin-left: 20px;
}

h1#cgv {
    text-align: center;
}


h2 {
    text-align: center;
    font-size: 60px;
}

/*Fonts*/
@font-face {
    font-family: "Segoe Print V1";
    src: url("font/segoe/c455d94eee43dc4ceeb83c0c0fd0d4c8.eot");
    /* IE9*/
    src: url("font/segoe/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff2") format("woff2"),
        /* chrome、firefox */
        url("font/segoe/c455d94eee43dc4ceeb83c0c0fd0d4c8.woff") format("woff"),
        /* chrome、firefox */
        url("font/segoe/c455d94eee43dc4ceeb83c0c0fd0d4c8.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("font/segoe/c455d94eee43dc4ceeb83c0c0fd0d4c8.svg#Segoe Print V1") format("svg");
    /* iOS 4.1- */
}

h2#menu_palette {
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(-300deg, #41963c 35%, #8ad363 45%, #beff7f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2#menu_delice {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(-300deg, #0228dd 25%, #0670f3 45%, #229df9 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2#menu_chic {

    font-size: 50px;
    font-family: 'Croissant One', cursive;
    background: linear-gradient(-300deg, #d4813c 25%, #ad6bac 45%, #8f5aff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2#note_enchantée {
    font-size: 50px;
    font-family: 'Devonshire', cursive;
    font-weight: normal;
}

#entree_note,
#plat_note,
#dessert_note {
    font-family: 'Segoe Print V1';
}

#cle_note {
    font-family: 'Devonshire', cursive;
    font-weight: normal;
}

#entree_chic,
#plat_chic,
#dessert_chic {
    font-family: 'Noto Serif', serif;
}

#entree_palette,
#plat_palette,
#dessert_palette {
    font-family: 'Architects Daughter', cursive;
}

#entree_delice,
#plat_delice,
#dessert_delice {
    font-family: 'Aref Ruqaa', serif;
}

h3 {
    text-align: center;
}

li {
    list-style-type: none;
}

#note_image {
    width: auto;
}

/*barres*/
#barre {
    width: 100px;
    padding-right: 20px;
    padding-left: 20px;
}

/*Menu Chic */
section#entree_chic {
    color: #c67412;
    padding-bottom: 10px;
}

.container_list_chicentree {
    color: #c67412;
    display: flex;
    width: 70%;
}

.container_list_chicentree .menu {
    width: 80%;
    text-align: left;

}

.container_list_chicentree .price {
    width: 20%;
    text-align: right;

}

section#plat_chic {
    color: #a56799;
    padding-bottom: 10px;
}

.container_list_chicplat {
    color: #a56799;
    display: flex;
    width: 70%;
}

.container_list_chicplat .menu {
    width: 80%;
    text-align: left;

}

.container_list_chicplat .price {
    width: 20%;
    text-align: right;
}

section#dessert_chic {
    color: #6e4ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_list_chicdessert {
    color: #6e4ccc;
    display: flex;
    width: 70%;
}

.container_list_chicdessert .menu {
    width: 80%;
    text-align: left;

}

.container_list_chicdessert .price {
    width: 20%;
    text-align: right;
}


/*menu la note*/
.container_list {
    display: flex;
    width: 70%;
}

#cle_note img {
    width: 40px;
}

#cle_note {
    font-size: 40px;
    text-align: center;
}


/*menus en général*/
.container_list .menu {

    width: 80%;
    text-align: left;
    padding-bottom: 10px;
}

.container_list .price {
    width: 20%;
    text-align: right;
    padding-left: 25%;
    padding-bottom: 10px;
}

/*mentions légales*/
#mentions_legales { 
width: 85%;
margin: auto;
text-align: justify;

 }

.titre_article {
    font-size: 25px;
    text-align: left;
}

/* MEDIA QUERIES */
/* format mobile large*/
@media screen and (min-width: 425px) {

    /*barres*/
    img {
        width: 260px;
        padding-right: 35px;
        padding-left: 35px;
    }

}

/*		format tablette		*/
@media screen and (min-width: 768px) {

    header {
        margin-bottom: 40px;
    }

    .barre {
        width: 115px;
    }

    h3 {
        font-size: 25px;
    }

    img {
        padding-right: 15px;
        padding-left: 15px;
    }

    /*menus en général*/
    .container_list .menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*menu note*/
    #entree_note,
    #plat_note,
    #dessert_note,
    .menu {
        padding-left: 35px;
    }

}

/*		Format desktop		*/
@media screen and (min-width: 1024px) {
    .barre {
        width: 120px;

    }

    /*menus en général*/
    .container_list .menu {

        width: 80%;
        padding-left: 15%;

    }


    /*Menu Chic */

    .container_list_chicentree .menu {

        padding-left: 15%;
    }

    .container_list_chicplat .menu {

        padding-left: 15%;

    }

    .container_list_chicdessert .menu {

        padding-left: 15%;
    }

    #container_delice {

        width: 60%;

    }

    #container_chic {

        width: 60%;


    }

    #container_palette {

        width: 60%;

    }

    #container_note {

        width: 60%;

    }
}

/* fichier CSS validé W3C: https://jigsaw.w3.org/css-validator/ */