/* CSS 4 menus */




p
{
    text-align: center;
}

h3
{
    text-align: center;
}

li {
    list-style-type: none;


}

.container_list {
    display: flex;
    width: 72%;

}

.container_list .menu {

    width: 100%;
    text-align: left;
    padding-left: 35%;
}

.container_list .price {
    width: 20%;
    text-align: right;


